@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
figure {
  img {
    width: 80%;
  }
}

#figure-main-1 {
  grid-area: figure-1;
}

#figure-main-2 {
  grid-area: figure-2;
}

#figure-main-3 {
  grid-area: figure-3;
}

#figure-main-4 {
  grid-area: figure-4;
}

#figure-main-5 {
  grid-area: figure-5;
}

#figure-main-6 {
  grid-area: figure-6;
}

#figure-main-7 {
  grid-area: figure-7;
  width: 50%;
  justify-self: center;
}

.result-figure-grid {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  grid-gap: 15px;

  grid-template-areas: 
    "figure-1 figure-2"
    "figure-3 figure-4"
    "figure-5 figure-6"
    "figure-7 figure-7";
}
.todo {
  color: red;
  &::before {
    content: "TODO: ";
  }
}
.comment {
  &, & * {
    color: red !important;
  }

  font-style: italic;
  &:before {
    content: "[";
  }
  &[data-author]:before {
    content: "[" attr(data-author) ": ";
  }
  &:after {
    content: "]";
  }
}
del.comment {
  text-decoration: line-through;
  &:before, &[data-author]:before, &:after {
    content: "";
  }
  &[data-author]:after {
    content: " (" attr(data-author) ")";
  }
}

.spelling {
  text-decoration: underline wavy red;
}
.grammar {
  text-decoration: underline wavy darkgreen;
}
.rephrase {
  text-decoration: underline wavy blue;
}
.reference.needed {
  &:before {
    content: "[?!]";
    color: red;
    font-weight: bold;
  }
}

code {
  font-family: "Ubuntu Mono", monospace;
}

li p {
  display: inline;
}

dl {
  margin: 1em 0;

  dt {
    font-weight: bold;
    float: left;
    clear: left;
    margin-right: 1ex;
  }
}

var {
  font-style: italic;
}

main {
  h1.no-label-increment,
  h2.no-label-increment,
  h3.no-label-increment,
  h4.no-label-increment,
  h5.no-label-increment {
    &::before {
      content: "";
    }
  }
}

ol.index-entries {
  list-style-type: decimal;

  li {
    margin-left: 1em;
  }
}

.katex-html {
  font-size: 0.75em;
}

.katex {
  line-height: 1 !important;
}
